.slider{
    background-color: #7d91e0;
    height: 400px;
}

.bg-pink{
    background-color: #480448;
}
.bg-blue{
    background-color: #567bf6;
}
.bg-red{
    background-color: #881b88;
}

.latest{
    height: 300px;
}

.bg-green{
    background-color: #ffecec;
}